<h1>Blogs</h1>

<%= link_to 'New Blog', new_blog_path %>

<ul>
  <% @blogs.each do |blog| %>
    <li>
      <p>Title: <%= blog.title %></p>
      <p>Body: <%= blog.body %></p>
      <p>User: <%= blog.user.email %></p>
      <%= link_to 'Show', blog %>
      <%= link_to 'Edit', edit_blog_path(blog) %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
